/* @font-face {
  font-family: SegoeUIVariable;
  src: url("fonts/Segoe-UI-Variable-Static-Display.ttf");
}

@font-face {
  font-family: SegoeUIVariableBold;
  src: url("fonts/Segoe-UI-Variable-Static-Display-Bold.ttf");
}

@font-face {
  font-family: SegoeUIVariableLight;
  src: url("fonts/Segoe-UI-Variable-Static-Display-Light.ttf");
}

@font-face {
  font-family: SegoeUIVariableSemibold;
  src: url("fonts/Segoe-UI-Variable-Static-Display-Semibold.ttf");
}

@font-face {
  font-family: SegoeUIVariableSemilight;
  src: url("fonts/Segoe-UI-Variable-Static-Display-Semilight.ttf");
} */
/* fonts cause unbearable loading times for me  */

* {
  font-family: SegoeUIVariable, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  color-scheme: dark;
}

::-webkit-scrollbar {
  width: 3px;
  height: 10px;
  transition: all 500ms;
}

::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150);
}

.title {
  /* Created with https://www.css-gradient.com */
  color: rgba(121, 54, 128, 1);
  color: -webkit-linear-gradient(
    top left,
    rgba(121, 54, 128, 1),
    rgba(62, 18, 81, 1)
  );
  color: -moz-linear-gradient(
    top left,
    rgba(121, 54, 128, 1),
    rgba(62, 18, 81, 1)
  );
  color: linear-gradient(
    to bottom right,
    rgba(121, 54, 128, 1),
    rgba(62, 18, 81, 1)
  );
  text-decoration: none;
}
